<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cms.gongju.cablerequest.mapper.WorkerMapper">

    <!-- 목록조회 -->
    <select id="selectWorkerList" parameterType="map" resultType="map">
        SELECT
        WORKER_ID,
        COMPANY_NAME,
        JOB_TITLE,
        WORKER_NAME,
        CONTACT
        FROM tb_worker
        WHERE 1=1
        <if test="companyName != null and companyName != ''">
            AND COMPANY_NAME LIKE CONCAT('%',#{companyName},'%')
        </if>
        <if test="workerName != null and workerName != ''">
            AND WORKER_NAME LIKE CONCAT('%',#{workerName},'%')
        </if>
        <!-- etc... -->
        ORDER BY WORKER_ID DESC
    </select>

    <select id="selectAll" resultType="map">
        SELECT
            WORKER_ID,
            COMPANY_NAME,
            JOB_TITLE,
            WORKER_NAME,
            CONTACT
        FROM tb_worker
        ORDER BY WORKER_ID DESC
    </select>

    <select id="search" parameterType="map" resultType="map">
        SELECT
        WORKER_ID,
        COMPANY_NAME,
        JOB_TITLE,
        WORKER_NAME,
        CONTACT
        FROM tb_worker
        WHERE 1=1
        <if test="companyName != null and companyName != ''">
            AND COMPANY_NAME LIKE CONCAT('%', #{companyName}, '%')
        </if>
        <if test="jobTitle != null and jobTitle != ''">
            AND JOB_TITLE LIKE CONCAT('%', #{jobTitle}, '%')
        </if>
        <if test="workerName != null and workerName != ''">
            AND WORKER_NAME LIKE CONCAT('%', #{workerName}, '%')
        </if>
        <if test="contact != null and contact != ''">
            AND CONTACT LIKE CONCAT('%', #{contact}, '%')
        </if>
        ORDER BY WORKER_ID DESC
    </select>


    <!-- Insert -->
    <insert id="insertWorker" parameterType="map">
        INSERT INTO tb_worker
        (
            COMPANY_NAME,
            JOB_TITLE,
            WORKER_NAME,
            CONTACT,
            REG_ID,
            REG_DT
        )
        VALUES
            (
                #{companyName},
                #{jobTitle},
                #{workerName},
                #{contact},
                'adminUser',
                NOW()
            )
    </insert>

</mapper>
