<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="/images/icon/favicon.png">
    <title>Cable Management Platform</title>

    <th:block layout:fragment="css">
        <link th:href="@{/js/common/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/js/common/vendor/bootstrap/css/bootstrap-table.min.css}" rel="stylesheet">
        <link th:href="@{/js/common/vendor/SweetAlert2/sweetalert2.min.css}" rel="stylesheet">
        <link th:href="@{/js/common/vendor/daterangepicker/daterangepicker.css}" rel="stylesheet">
        <link th:href="@{/js/common/vendor/handsontable/dist/handsontable.css}" rel="stylesheet">

        <link th:href="@{/css/layout.css}" rel="stylesheet">
        <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet">
        <link th:href="@{/css/custom-sweetAlert2.css}" rel="stylesheet">
        <link th:href="@{/css/custom-pikaday.css}" rel="stylesheet">
    </th:block>
</head>

<body>

<th:block layout:fragment="script">
    <script th:src="@{/js/common/vendor/axios/axios.min.js}"></script>
    <script th:src="@{/js/common/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/common/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common/vendor/bootstrap/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/common/vendor/SweetAlert2/sweetalert2.min.js}"></script>
    <script th:src="@{/js/common/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/js/common/vendor/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/js/common/vendor/handsontable/dist/handsontable.min.js}"></script>

    <script th:src="@{/js/common/custom-menu.js}"></script>
    <script th:src="@{/js/common/custom-function.js}"></script>
    <script th:src="@{/js/common/custom-sweetAlert2.js}"></script>
    <script th:src="@{/js/common/custom-bootstrap.js}"></script>
    <script th:src="@{/js/common/custom-handsontable.js}"></script>
    <script th:src="@{/js/common/custom-popup.js}"></script>
</th:block>

<div class="layout">
    <!-- 1영역: 헤더 -->
    <div class="header">
        <div class="header-left">
            <div id="header-left-logo">
                <img id="header-left-logo-img" src="/images/logo/logo.png" alt="logo"
                     onclick="location.href='/cable/agency/view'"/>
            </div>

            <div id="header-left-content">
                <p style="margin:0;">케이블 관리시스템</p>
            </div>
        </div>

        <div class="header-right">

            <div id="header-right-name">
                <a>
                    <span th:text="${accountData.userName}+'님'"></span>
                </a>
            </div>

            <div id="header-right-logout">
                <a href="#" onclick="usrlogout();">
                    <span>로그아웃</span>
                </a>
            </div>

            <form name='logoutform' id='logoutform' method='POST' action='/logout'></form>
        </div>
    </div>

    <div class="main-container">
        <!-- 2영역: 사이드바 -->
        <div class="sidebar">
            <!-- 사이드바 메뉴 항목 custom-menu.js 에서 동적생성 -->
            <div id="menu-items" class="items-section"></div>
        </div>

        <!-- 3영역: 콘텐츠 -->
		<div class="content">
            <div class="pageTitle">
                <div id="page-title"></div>
                <nav>
                    <ol class="breadcrumb" id="breadcrumb"></ol>
                </nav>
            </div>

            <th:block layout:fragment="content"></th:block>
		</div>
    </div>
</div>

</body>

</html>